@import "../../mixins.scss";

.carousel-inner{
    width: 100%;
    height: 100vh;
    img{
        width: 100%;
        height: 100%;
    }
    @include md {
        height: 100vh;
    }
}

.bg-img1{
        background-image: url('../../assets/c3c.jpg');
        background-size: cover;
        background-position: center;
        @include md {
            background-image: url('../../assets/c3.webp');
            background-size: cover;
        }
}

.bg-img2{
    background-image: url('../../assets/w2c.jpg');
    background-size: cover;
    background-position: center;
    @include md {
        background-image: url('../../assets/w2.jpg');
        background-size: cover;
    }

}

.bg-img3{
    background-image: url('../../assets/c4.jpg');
    background-size: cover;
    background-position: center;
    @include md {
        background-image: url('../../assets/c4.jpg');
        background-size: cover;

    }
}

.corousel-img {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.whatsapp{
    img{
            width : 60px;
            position : fixed; 
            bottom : 0px; 
        @include md{
            bottom : 30px; 
            left:20px;
        }
    }
}
