@import "../../mixins.scss";

.back-img {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/contact3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    span {
        width: 100%;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        position: absolute;
        bottom: 15%;
        letter-spacing: 0.5rem;
        width: 100%;
        text-shadow: 3px 3px 4px gray;
        @include md {
            font-size: 4rem;
        }
    }
}

.contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3% 14%;
    @include md {
        flex-wrap: nowrap;
    }

    .contact-info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        @include md{
            width: 50%;
        }
        .info{
            position: relative;
            padding: 20px 0;
            display: flex;
            .icon{
                min-width: 60px;
                height: 60px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 22px;
                box-shadow: 3px 3px 3px 3px #ddd;
            }
            .text{
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                font-size: 16px;
                h3{
                    font-weight: 600;
                    color: rgb(243, 32, 145);
                }
            }
        }
    }

    .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        @include md {
            width: 50%;
        }

        input,textarea, button {
            width: 100%;
            padding: 0.6rem 1rem;
            font-size: 1.1rem;
            margin-block: 15px;
            border: none;
            background-color: #fff;
            box-shadow: 3px 3px 3px 3px #ddd;
            @include md{
                width: 80%;
            }
        }
        .btn{
            background-color:rgb(243, 32, 145);
            color: white;
            font-size: 1.4rem;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}