@import "../../mixins.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header { 
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color:white;
    // box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
    transform: translateY(0);
    z-index: 2;
    
    .logo {
        margin-left: 10%;
        img {
            width: 4.5rem;
            // background-color: #fff;
        }
    }
    .menu-bar{
        padding: 6px 5%;
        font-size: 30px;
        font-weight: 900;
        color: black;
        cursor: pointer;
        @include md {
            display: none;
        }
       
    }
}
.navbar {
    height: 3rem;
    width: 50%;
    margin-right: 7%;
    display: none;
    @include md {
        display: block;
    }
    
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    gap: 5px;

    a {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: black;
        font-family: sans-serif;
    }
}
