@import "../../mixins.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header { 
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
    .logo {
        width: 20%;
        // font-size: 22px;
        padding: 4px 7%;
        img {
            width: 6rem;
            // height: 2.8rem;
            border-radius: 50%;
            background-color: #fff;

        }
    }
    .menu-bar{
        padding: 4px 5%;
        font-size: 22px;
        font-weight: 900;
        color: black;
        cursor: pointer;
        @include md {
            display: none;
        }
       
    }
}
.navbar {
    height: 3rem;
    // background-color: aqua;
    width: 50%;
    margin-right: 7%;
    display: none;
    @include md {
        display: block;
    }
    
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;

    a {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: black;
        font-family: sans-serif;
    }
}
