.footer {
    width: 100%;
    padding: 1% 6%;
    margin: auto;
    margin-top: 30px;
    p{
        text-align: center;
        color: rgb(61, 57, 57);
        font-family:Arial, Helvetica, sans-serif;
    }
}